@model List<TodoModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    @if (Model != null)
    {
        <div class="row">
            Todos of @ViewData["UserName"]
        </div>
        <div class="row">
            @Html.Partial("Partials/TodoListPartial", Model)
        </div>
    }
    else
    {
        <h3>Todos not Found</h3>
    }
</div>
