@model WebApp.Entities.Post

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> Post Details</h2>

<div class="container">
    <div class="row">
        @Html.Partial("Partials/PostPartial", Model)
    </div>

    <div class="row">
        @if (Model.Comments.Any())
        {
            <h4>Comments: </h4>
            <div>
                @Html.Partial("Partials/CommentListPartial", Model.Comments)
            </div>
        }
    </div>
</div>