@model List<WebApp.Entities.Post>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    @if (Model != null)
    {
        <div class="row">
            Posts of @ViewData["UserName"]
        </div>
        <div class="row">
            @Html.Partial("Partials/PostListPartial", Model)
        </div>
    }
    else
    {
        <div class="row">
            <h3>Posts not Found</h3>
        </div>
    }
</div>
