@model List<Tuple<WebApp.Entities.Post, int>>

@{
    ViewData["Title"] = "Query1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Query #1</h2>

<form asp-controller="Queries" asp-action="Query1" , method="get">
    <p>
        @Html.TextBox("stringId")
        @*Title: <input type="number" name="userId">*@
        <input type="submit" value="User Id" />
    </p>
</form>

@if (@Model != null)
{
<h5>User Id: @ViewData["UserId"]</h5>

    if (@Model.Any())
    {
        @Html.Partial("Partials/PostListPartial", Model.Select(p => p.Item1).ToList())
    }
    else
    {
        <p>User don't have any posts!</p>
    }
}
else
{
    <p>User with such id not found!</p>
}