
@model List<CommentModel>

@{
    ViewData["Title"] = "Query2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Query #2</h2>
        </div>
    </div>
    <div class="row">
        <div>
            <form asp-controller="Queries" asp-action="Query2" , method="get">
                @Html.TextBox("stringId", null, htmlAttributes: new { placeholder = "User Id" })
                <input type="submit" value="Search" class="btn btn-default"/>
            </form>
        </div>
    </div>
    <div class="row">
        <div>

            @if (@Model != null)
            {
                <div>
                    <h5>User Id: @ViewData["UserId"]</h5>
                </div>

                if (Model.Any())
                {
                    @Html.Partial("Partials/CommentListPartial", @Model)
                }
                else
                {
                    <p>User don't have any comments with length more that 50 chars!</p>
                }
            }
            else
            {
                <p>User with such id not found!</p>
            }

        </div>
    </div>
</div>

