@model WebApp.Entities.User

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div class="container">
    <div class="row">
        @Html.Partial("Partials/UserPartial", @Model)
    </div>

    <div class="row">
        <div>
            <a asp-controller="Queries" asp-action="Query4">Go to User List</a>
        </div>
    </div>
</div>


